
body {
    background-color: #D1D1D1;
    color: black;

}
/* puts a line at the bottom of the header */
p {
    border-bottom: 2px solid black ;
}
/* moves image */
#logo {
    height: 150px;
    margin-top: -20px;
    margin-left: 5vw;

}
div {
    margin-top: -3.5vh;
    align-items: center;
    margin-left: 4vw;
}
#links {
    text-align: right;
}
button {
    background-color: #D1D1D1;
    border-color: #D1D1D1;
    box-shadow: #D1D1D1;
}
footer {
    display: flex;
    align-items: left;
    flex-direction: row;
    justify-content: space-between;
    border-top: 2px solid black ;
}
#footerlogo {
    padding-top: 10px;
    height: 150px;
    margin-top: -3vh;
    position: absolute;
    
}
h1 {
    font-size: 15px;
    position: absolute;
    margin-left: 11vw;
}
h2 {
    font-size: 15px;
}
h3 {
    font-size: 15px;
}
/* UI for Tablet */
@media screen and (max-width: 900px){
    #logo {
        height: 140px;
    }
    #title {
        text-align: center;
    }
}