h1{
    color: #2B2B2B;
}
h2{
    color: #2B2B2B;
}
h3{
    color: #2B2B2B;
}
h4{
    color: #2B2B2B;
}
h5{
    color: #2B2B2B;
}
h6{
    color: #2B2B2B;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 25px 0px 25px;
}
.bold {
    font-weight: 900 !important;
}
#navBar{
    top: 2vh;
    right: 3vw;
    display: flex;
    gap: 9px;
}
#navBar a {
    text-decoration: none;

}
#navBar a h4 {
    font-weight: 100;
}
#logo {
    width: 100px;
}
body {
    background-color: #F4EFE6;
}