#image-1 {
  margin: 5px auto;
}

#image-1 img {
  width: 100%;
  height: 400px;
  display: block;
}

/* Tablets */
@media (min-width: 600px) {
  #imageBox {
    width: 220px;
  }
}

/* Laptops / desktops */
@media (min-width: 1024px) {
  #imageBox {
    width: 320px;
  }
}