#image-1 {
  margin: -50px auto;
  padding: 50px;
}

#image-1 img {
  width: 100%;
  height: 300px;
  display: block;
}

/* Mobile */
@media (max-width: 600px) {
  #image-1 {
    width: 140px;
    padding: 50px;
  }
}

#image-2 {
  margin: auto;
  padding: 50px;
}

#image-2 img {
  width: 50%;
  height: 400px;
  display: block;
}

/* Mobile */
@media (max-width: 600px) {
  #image-2 {
    width: 140px;
    padding: 50px;
  }
}

